name: Build and test ruby-version-checker

on:
  pull_request:
    paths-ignore:
      - "README.md"
      - "LICENSE.md"
  push:
    paths-ignore:
      - "README.md"
      - "LICENSE.md"
    branches:
      - "main"
    tags:
      - "v*"

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v2
      - name: Install cross
        run: cargo install cross
      - name: Test ruby-version-checker
        run: cross test --release --target x86_64-unknown-linux-musl
  build:
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/v')
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v2
      - name: Install cross
        run: cargo install cross
      - name: Build ruby-version-checker
        run: cross build --release --target x86_64-unknown-linux-musl
      - uses: actions/upload-artifact@v6
        with:
          name: ruby-version-checker
          path: target/x86_64-unknown-linux-musl/release/ruby-version-checker

  upload:
    needs: [build, test]
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/v')
    steps:
      - name: Restore artifact
        uses: actions/download-artifact@v7
        with:
          name: ruby-version-checker
      - name: Upload binaries to release
        uses: svenstaro/upload-release-action@2.11.3
        with:
          file: ruby-version-checker
          asset_name: ruby-version-checker-x86_64-linux
          overwrite: true
  docker-image:
    needs: [test]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - uses: docker/setup-buildx-action@v3
      - uses: docker/build-push-action@v6
        name: Build
        with:
          push: ${{ github.ref == 'refs/heads/main' }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          tags: ghcr.io/moritzheiber/ruby-version-checker:latest
  dependabot:
    needs: [docker-image]
    permissions:
      contents: write
      pull-requests: write
    runs-on: ubuntu-latest
    if: ${{ github.actor == 'dependabot[bot]' }}
    steps:
      - name: Enable auto-merge for Dependabot PRs
        run: gh pr merge --auto --rebase "$PR_URL"
        env:
          PR_URL: ${{github.event.pull_request.html_url}}
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
